<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.koreait.spring_boot_study.repository.mapper.RefreshTokenMapper">
    <resultMap id="refreshTokenMap" type="com.koreait.spring_boot_study.entity.RefreshToken">
        <id property="refreshTokenId" column="refresh_token_id"/>
        <result property="userId" column="user_id"/>
        <result property="token" column="token"/>
        <result property="expireAt" column="expire_at"/>
        <result property="createAt" column="create_at"/>
        <result property="updateAt" column="update_at"/>
    </resultMap>
    
    <insert id="insertRefreshToken">
        INSERT INTO
            refresh_token
                (user_id, token, expire_at, create_at, update_at)
        VALUES
            (#{userId}, #{token}, #{expireAt}, now(), now())
    </insert>

    <select id="findByToken" resultMap="refreshTokenMap">
        SELECT
            refresh_token_id,
            user_id,
            token,
            expire_at,
            create_at,
            update_at
        FROM
            refresh_token
        WHERE
            token = #{token}
        LIMIT 1
    </select>

    <update id="updateRefreshToken">
        UPDATE
            refresh_token
        SET
            token = #{newToken},
            update_at = now()
        WHERE
            token = #{oldToken}
    </update>
    
    <delete id="deleteAllByUserId">
        DELETE FROM
            refresh_token
        WHERE
            user_id = #{userId}
    </delete>

    <delete id="deleteExpiredTokens">
        DELETE FROM
            refresh_token
        WHERE
            expire_at &lt; now();
    </delete>
    <delete id="deleteByToken">
        DELETE FROM
            refresh_token
        WHERE
            token = #{token}
    </delete>
</mapper>